
<div class="buttonRow">
    @if (CalculatorCIState.FlagCImenuActive)
    {
        <button type="button" class="btn defBtn defBtn-menuActive defBtn-CImenu" @onclick="() => ShowCompoundInterestMenu()">Menu</button>
    }
    else
    {
        <button type="button" class="btn defBtn defBtn-opperation defBtn-CImenu" @onclick="() => ShowCompoundInterestMenu()">Menu</button>
    }
</div>




@if (CalculatorCIState.FlagCImenuActive)
{
    <div class="CImenuWrapper">
        <h4>Compount interest calculation</h4>

        <div class="inputRow">
            <input class="inputString" placeholder="Start sum" @bind="CalculatorCIState.StartSum" />
            <input class="inputString" placeholder="% in year" @bind="CalculatorCIState.PercentsInYear" />
        </div>
        <div class="inputRow">
            <input class="inputString" placeholder="Times add.sum" @bind="CalculatorCIState.TimesAddSum" />
            <input class="inputString" placeholder="Q-ty years" @bind="CalculatorCIState.Years" />
        </div>

        <button type="button" class="btn defBtn defBtn-clcCI"
                @onclick="() => CalculateWrapper(CalculatorCIState.StartSum, CalculatorCIState.PercentsInYear, CalculatorCIState.TimesAddSum, CalculatorCIState.Years)">
            Calculate CI
        </button>


        <br />
        @if (CalculatorCIState.IncorrectInputCI)
        {
            <h4>Incorrect input!</h4>
        }
        else
        {
            <h4>@CalculatorCIState.ValueCI</h4>
        }

    </div>

}
