@inject CalculatorService calc

@using BlazorCLC.Components;



<div class="calculatorWrapper">
    <div class="textBar">
        <span class="valueSecond">@calc.calc.ValueSecond</span>
        <span class="valueFirst">@calc.calc.ValueFirst</span>
    </div>

    <div class="buttonRow">
        <button type="button" class="btn defBtn defBtn-opperation defBtn-three" @onclick="() => calc.ButtonClick(5)">%</button>


        <button type="button" class="btn defBtn defBtn-correct defBtn-three" @onclick="() => calc.Clear(0)">C</button>
        <button type="button" class="btn defBtn defBtn-correct defBtn-three" @onclick="() => calc.Clear(1)">CE</button>
    </div>

    <div class="buttonRow">
        <button type="button" class="btn defBtn defBtn-opperation" @onclick="() => calc.ButtonClick(6)">1/x</button>
        <button type="button" class="btn defBtn defBtn-opperation" @onclick="() => calc.ButtonClick(7)">x²</button>
        <button type="button" class="btn defBtn defBtn-opperation" @onclick="() => calc.ButtonClick(8)">√x</button>
        <button type="button" class="btn defBtn defBtn-opperation" @onclick="() => calc.ButtonClick(4)">/</button>
    </div>

    <div class="buttonRow">
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('7'.ToString())">7</button>
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('8'.ToString())">8</button>
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('9'.ToString())">9</button>
        <button type="button" class="btn defBtn defBtn-opperation" @onclick="() => calc.ButtonClick(3)">X</button>
    </div>

    <div class="buttonRow">
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('4'.ToString())">4</button>
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('5'.ToString())">5</button>
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('6'.ToString())">6</button>
        <button type="button" class="btn defBtn defBtn-opperation" @onclick="() => calc.ButtonClick(2)">-</button>
    </div>

    <div class="buttonRow">
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('1'.ToString())">1</button>
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('2'.ToString())">2</button>
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('3'.ToString())">3</button>
        <button type="button" class="btn defBtn defBtn-opperation" @onclick="() => calc.ButtonClick(1)">+</button>
    </div>

    <div class="buttonRow">
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('.'.ToString())">.</button>
        <button type="button" class="btn defBtn defBtn-gray" @onclick="() => calc.ButtonClick('0'.ToString())">0</button>
        <button type="button" class="btn defBtn defBtn-result " @onclick="() => calc.Calculate()">=</button>
    </div>

    <CalculatorCI />

</div>
