<NavLink class="nav-link" href="">
    <span class="oi oi-calculator btnNavMenu" aria-hidden="true"></span>
    <span class="btnNavMenu">Calculator</span>
</NavLink>


<NavLink class="nav-link" href="history">
    <span class="oi oi-shield btnNavMenu" aria-hidden="true"></span> 
    <span class="btnNavMenu">History</span>
</NavLink>

